{{ define "main" }}

<!-- consejo single -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Título y fecha -->
        <h2>{{ .Title }}</h2>
        <p>{{ .Content }}</p>
        <hr style="height: 1px; background-color: #939191; opacity: 1; margin: 1.5rem 0;"> 
      </div>
  
      <!-- Lista de materiales -->
      {{ if .Params.materiales }}
      <div class="col-12">
        <h3>Materiales</h3>
        <ul>
          {{ range .Params.materiales }}
          <li>
            <a href="{{ .file }}" download>{{ .name }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /consejo single -->

{{ end }}