{{ define "main" }}
{{ partial "page-title.html" . }}

<section class="single-post section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1>{{ .Title }}</h1>
                {{ with .Params.categories }}
                    <div class="mb-2">
                    {{ range . }}
                    {{ $cat := . | lower | urlize }}
                    <a href="{{ printf "/categories/%s" $cat | relLangURL }}" class="badge badge-category mr-1">
                        {{ . | lower | title }}
                    </a>
                    {{ end }}
                    </div>
                {{ end }}
                <div class="post-thumb mb-3">
                    {{ with .Params.link }}
                    <a href="{{ . }}" target="_blank" rel="noopener">
                        <img class="img-fluid" src="{{ partial "resolve-image" $.Params.image }}" alt="{{ $.Title }}">
                    </a>
                    {{ else }}
                    <img class="img-fluid" src="{{ partial "resolve-image" .Params.image }}" alt="{{ .Title }}">
                    {{ end }}
                </div>
                <div class="post-meta mb-4">
                    <ul class="list-inline">
                        <li class="list-inline-item mr-3 ml-0">
                            <i class="fas fa-calendar-alt mr-1"></i>
                            {{ .PublishDate.Format "02 Jan, 2006" }}
                        </li>
                        <li class="post-author mb-2">
                            <i class="fas fa-user mr-2"></i>
                            {{ with .Params.author }}
                                <span style="color:black;">{{ . }}</span>
                            {{ end }}
                        </li>
                    </ul>
                </div>
                <div class="post-content">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}