{{ define "main" }}
{{ partial "page-title" . }}

<section class="section">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-lg-8 text-center">
        <h1 style="color:#cb0017;">{{ .Title }}</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <ul class="list-unstyled">
          {{ range .Pages }}
            <li>
              <a href="{{ .Permalink }}" class="d-block mb-3 p-3 border rounded shadow-sm text-decoration-none text-dark" style="transition: 0.2s;">
                <strong style="color: #cb0017;">{{ .Title }}</strong><br>
                <small>{{ .Params.description | truncate 120 }}...</small>
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>

{{ end }}
