{{ $data := .Site.Data }}
{{ $activities := cond (eq .Site.Language.Lang "es") $data.es.acciones $data.en.activities }}
{{ with $activities }}
    {{ if .enable }}
    {{ "<!-- activities Section Start -->" | safeHTML }}
      <section class="activities-list section bg-gray">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="title text-center">
                  {{ with .topTitle }}<h4>{{ . }}</h4>{{ end }}
                  {{ with .title }}<h2>{{ . }}</h2>{{ end }}
                  <span class="border"></span>
                  {{ with .subtitle }}<p>{{ . }}</p>{{ end }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10 mx-auto">
              {{ range .item }}
                <div class="activities-item mb-4">
                  <div class="row align-items-center">
                    {{ if .link }}
                      <a href="{{ .link | relLangURL }}" style="text-decoration: none; color: inherit;" class="d-flex align-items-center w-100">
                    {{ end }}

                    <div class="col-md-3 mb-3 mb-md-0">
                      {{ with .image }}
                        <img class="img-fluid rounded shadow activities-image" src="{{ partial "resolve-image" . }}" alt="a">
                      {{ end }}
                    </div>

                    <div class="col-md-9">
                      <h4 class="mb-2">{{ .title }}</h4>
                      <div class="description small">{{ .description | markdownify }}</div>
                    </div>

                    {{ if .link }}
                      </a>
                    {{ end }}
                  </div>
                </div>
              {{ end }}
            </div>
          </div>
        </div>
    </section>
  {{ "<!-- activities Section End -->" | safeHTML }}
  {{ end }}
{{ end }}
