{{ if .Site.Params.blog.enable }}
{{ "<!-- Blog Section Start -->" | safeHTML }}
<section class="blog section" id="blog">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center" style="padding-bottom: 40px">
                    {{ with .Site.Params.blog.topTitle }}<h4>{{ . }}</h4>{{ end }}
                    {{ with .Site.Params.blog.title }}<h2>{{ . }}</h2><span class="border"></span>{{ end }}
                    {{ with .Site.Params.blog.subtitle }}<p>{{ . }}</p>{{ end }}
                </div>
            </div>
        </div>
        <div class="row">
            {{ range first 3 (where .Site.RegularPages "Section" "blog") }}
            {{ "<!-- single blog post -->" | safeHTML }}
            <article class="col-12 col-md-4">
                <div class="post-item" style="margin-bottom: 0; padding-bottom: 0;">
                    <div class="post-thumb mb-2">
                        <img class="img-fluid shadow rounded" 
                             src="{{ with .Params.image }}{{ . | absURL }}{{ end }}" 
                             alt="{{ .Title }}"
                             style="width: 340px; height: 226px; object-fit: cover; object-position: center; background: #f8f9fa;">
                    </div>
                    
                    <ul class="list-inline mb-1">
                        <li class="list-inline-item mr-3 ml-0">
                            <i class="fas fa-calendar-alt mr-1"></i>
                            {{ .PublishDate.Format "02 Jan, 2006" }}
                        </li>
                    </ul>

                    {{ with .Params.categories }}
                        <div class="mb-2">
                            {{ range . }}
                            {{ $cat := . | lower | urlize }}
                            <a href="{{ printf "/categories/%s" $cat | relLangURL }}" class="badge badge-category mr-1">
                            {{ . | lower | title }}
                            </a>
                            {{ end }}
                        </div>
                    {{ end }}
                    
                    <div class="post-title mb-1">
                        <h3 class="mt-0">
                            <a style="color:#cb0017;" href="{{ .Permalink }}">{{ .Title }}</a>
                        </h3>
                    </div>
                    
                    <div class="post-content mb-1">
                        <p style="color:black;">{{ .Params.description | truncate 150 }}</p>
                    </div>
                    
                    {{ with .Params.author }}
                    <div class="post-author mb-2">
                        <i class="fas fa-user mr-2"></i><span style="color:#555;">{{ . }}</span>
                    </div>
                    {{ end }}
                    
                    <a class="btn btn-main mt-2" style="margin: 0 0;"href="{{ .Permalink }}">Saber más</a>
                </div>
            </article>
            {{ "<!-- /single blog post -->" | safeHTML }}
            {{ end }}
        </div>
    </div>
</section>
{{ "<!-- Blog Section End -->" | safeHTML }}
{{ end }}