{{ "<!-- Fixed Navigation -->" | safeHTML }}
{{ if .Site.Params.menufixed }}
<section class="header navigation top-bar">
{{ else }}
<section class="header navigation">
{{ end }}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
                        <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}" class="navbar-logo">
                    </a>
                    <div class="d-flex align-items-center">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="tf-ion-android-menu"></span>
                        </button>
                        <div id="drapeaux" class="select-language d-block d-lg-none">
                            {{ partial "flags.html" . }}
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item{{ if .IsHome }} active{{ end }}">
                                <a class="nav-link" href="{{ "/" | relLangURL }}"{{ if .IsHome }} aria-current="page"{{ end }}>
                                    {{ with .Site.Params.home }}{{ . }}{{ end }}
                                </a>
                            </li>
                                {{ range site.Menus.nav }}
                                {{ if .HasChildren }}
                                    <li class="nav-item dropdown{{ if $.HasMenuCurrent "nav" . }} active{{ end }}">
                                    <a class="nav-link dropdown-toggle" href="{{ .URL | relLangURL }}" role="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false" onclick="window.location.href=this.href">
                                        {{ .Name }}
                                    </a>
                                    <div class="dropdown-menu">
                                        {{ range .Children }}
                                        <a class="dropdown-item" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                                        {{ end }}
                                    </div>
                                    </li>
                                    {{ else }}
                                    {{ if or (eq .Name "buscar") (eq .Name "search") }}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ .URL | absLangURL }}" title="{{ i18n .Name }}">
                                        <i class="fas fa-search"></i>
                                        </a>
                                    </li>
                                    {{ else }}
                                    <li class="nav-item{{ if $.IsMenuCurrent "nav" . }} active{{ end }}">
                                        <a class="nav-link" href="{{ .URL | absLangURL }}"{{ if $.IsMenuCurrent "nav" . }} aria-current="page"{{ end }}>{{ i18n .Name }}</a>
                                    </li>
                                    {{ end }}
                                    {{ end }}
                                {{ end }}
                                {{ if .Site.Params.showLanguageSwitcher }}
                                <li class="nav-item d-none d-lg-block">
                                    <div class="select-language nav-link">
                                        {{ partial "flags.html" . }}
                                    </div>
                                </li>
                                {{ end }}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>